@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');
/* Google font  */

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #18191F;
    --third-color: #787885;
    --btn-color: #E02C6D;

}

/* Variable diclearation */
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

/* ----------Basic Css ends----------- */
/* ----------Header section starts----------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

.logo {
    font-size: 25px;
    color: var(--primary-color);
}

nav ul li a {
    font-size: 16px;
    color: var(--primary-color);
}

/* ----------Header section ends----------- */
/* ----------Banner section starts----------- */
.banner{
    display: flex;
    margin-top: 30px;
    text-align: left;
}
.banner .right{
    width: 70%;
}
.banner-title{
    font-size: 50px;
    color: var(--primary-color);
}
.banner-description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 30px 0;
    color: var(--primary-color);
}
.banner-btn button{
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: var(--btn-color);
    border: none;
    border-radius: 25px;
}
.banner .img{
    background: url(..//images/Circle\ design.svg) no-repeat;
    background-size: cover;
}

/* ----------Banner section ends----------- */
/* ----------Media query section starts----------- */
/* For mini devices */
@media only screen and (max-width: 767px) {
    body{
        padding: 0 20px;
    }
    nav ul {
        flex-direction: column;
    }
    .hide-menu{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 25px;
    }
    .banner .right{
        width: 100%;
    }
    .banner-description{
        font-size: 14px;
    }
}
/* Nav section ends  */

/* For medium devices */
@media only screen and (min-width: 767px) and (max-width: 1023px){

}

/* For large devices */
@media only screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }
}


/* ----------Media query section ends----------- */